@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    60deg,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}
